<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			My first website!
		</title>
	</head>
		<body>
			<h1> Mushrooms🍄🍄</h1>
		<p>
			<h2>This is not a muchroom hating website</h2>
			<b><i><h3>This just states fatcs.</b></i></h3>
		</p>

		<p>
			<h2>First fact:The lifecycle of a mushroom is very unique.</h2>
		</p>

		<p style = "color: #E79E18">
			 Mushrooms are fungi and grow differently than fruits and vegetables. Mushrooms begin life as fungal spores. When spores germinate, they grow into a lacy, filament-like root network called mycelium. Have you ever seen a mushroom grow in the wild? What you cannot see is the underground network of mycelium that scavenges the soil for food. Mushrooms are decomposers and break down dead plants to recycle their nutrients. When mycelium is mature, it produces a mushroom which will spread its spores in the forest to continue the lifecycle of the mushroom. Mushroom farmers start from fungal spores to grow and harvest delicious mushrooms!
		</p>

		<p>
			<h2> Second Fact: It takes science to grow mushrooms</h2>
		</p>
		<p style = "color: #E78346">
			Mushrooms flourish under precise conditions. Mushroom farms are typically indoors so farmers can replicate nature’s perfect conditions. Each variety of mushrooms prefers a certain amount of heat, humidity, and air flow. Mushrooms grown for human consumption are grown in a very sterile environment to prevent any contamination. Pro-tip: mushrooms need good air flow, so never store them in a plastic bag (instead, store in their original packaging, or a clean brown paper bag).
		</p>
		<p>
			<h2> Third Fact:Mushrooms produce Vitamin D when exposed to ultraviolet light, but they don't need light to grow </h2>
		</p>
		<p style = "color: #E73618">
			Mushrooms can thrive without any light. Unlike green plants that convert sunlight to food through photosynthesis, the mushrooms gather nourishment from their growing medium, called compost. Mushroom farmers use a variety of growing mediums such as straw, corn cobs, cocoa hulls, or oats.
		</p>
		<p style = "color: #E73618">
			When some mushrooms are exposed to ultraviolet light such as from sunlight or an ultraviolet lamp, they produce a nutritionally significant amount of Vitamin D2.White mushrooms, crimini or brown mushrooms, portabella mushrooms, and maitake mushrooms are excellent producers of Vitamin D2 when exposed to ultraviolet light. Mushrooms that have been exposed to UV light are the only source of Vitamin D on the produce aisle!
		</p>
		<p>
			<h2> Fourth Fact: Mushrooms are grown in all 50 states </h2>
		</p>
		<p style = "color: #E79E18">
			Mushrooms grow on a year-round cycle indoors, and edible mushrooms are grown everywhere! There is likely a local producer near you. Check out your local farmers’ market or local produce market to find a local grower. The majority of commercial mushroom growers are located in the state of Pennsylvania. In fact, 63% of all white mushrooms are grown in Pennsylvania.
		<p>
			<h2>Fifth Fact: Mushrooms are gentle on the planet</h2>
		</p>
		<p style = "color: #E78346">
			1). Mushrooms are one of the most sustainably-produced food sources in the United States.
		</p>
		<p style = "color: #E78346">
			2). Mushrooms use limited growing space. Indoor growing is a very efficient use of space. In fact, 1 acre can produce up to 1 million pounds of mushrooms annually!
		</p>
		<p style = "color: #E78346">
			3). The growing medium can be composted. Mushrooms are grown in various growing mediums such as straw, corn cobs, cocoa hulls, or oats. Once used up, these materials can be composted and repurposed for other uses.
		</p>
		<p style = "color: #E78346">
			4). They require little energy to grow. Mushrooms often grow in the dark and a small amount of electricity is used to harvest or monitor the mushrooms. This makes them very energy efficient!
		</p>
		<p style = "color: #E78346">
			5). They require less water than other crops. It takes about 1.8 gallons of water to produce 1 gallon of mushrooms. Compared to fruits and vegetables, this is a huge water savings
		</p>
		<p>
			<h1> <i>CONCLUSION: ✨🍄✨</h></i>
		</p>

		<p style = "color: #4DA851">
			EVEN THOUGH I DONT LIKE THEM AS FOOD, THEY ARE A GREAT FOOD SOURCE AND EVEYRONE SHOULD GIVE THEM A TRY! (not if ur alergic tho:)
		</p>
		</body>
</html>
