div {
  font-weight: bold;
  font-size:32px;
  order-block-style: solid;
  background-color: red;
  text-align : center;
  color: white;

}

<!--
button {
  font-weight: bold;
  font-weight:18px;
  background-color: orange;
  color: black;
}
-->


#myGreatButton{
  background-color:blue;
}