body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.one {
  background: #4682B4;
  height: 100px;
  flex-grow:0; 
  flex-shrink:1;
  flex-basis:200px;
/*  min-height: ;*/
/*  max-height: ;*/
/*  min-width: ;*/
/*  max-width: ;*/
}

.two {
  background: darkorange;
  height: 100px;
  flex-grow: 0;
 flex-shrink:1;
 flex-basis: 200px;
/*  min-height: ;*/
/*  max-height: ;*/
/*  min-width: ;*/
/*  max-width: ;*/
}

.three {
  background: darkseagreen;
  height: 100px;
  flex-grow:0;
 flex-shrink:1;
  flex-basis:200px;
/*  min-height: ;*/
/*  max-height: ;*/
/*  min-width: ;*/
/*  max-width: ;*/
}